<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <title>Musée Louvre</title>
    </head>
    <body>
        <div class="container">
            <h4>Détails billets :</h4>
            <table class="table table-bordered table-responsive tab_">
                <thead>
                <tr >
                    <th>Billet</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date de Naissance</th>
                    <th>Pays</th>
                    <th>Tarif Réduit</th>
                    <th>Prix billet</th>
                </tr>
                </thead>
                <tbody>
                {% for ticketDescription in ticketsDescription %}
                        <tr>
                        <th>Visiteur n° {{ loop.index }}</th>
                        <td>{{  ticketDescription.visitorLastName }}</td>
                        <td>{{  ticketDescription.visitorFirstName}}</td>
                        <td>{{  ticketDescription.visitorBirthDate | date('d/m/Y') }}</td>
                        <td>{{  ticketDescription.visitorCountry }}</td>

                        <td>
                            {% if ticketDescription.reducedPrice == 1 %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td>{{ ticketDescription.ticketPrice }}€</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>


        <div>
            <h4><strong>Montant total de votre commande : {{ purchaseOrder.getAmountOrder }}€</strong></h4>
        </div>
        <br>
    </body>
</html>
