<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <title>Musée Louvre</title>
    </head>
    <body>

    <img src="{{ cid }}" alt="Image" />'
        <div class="container">

            <table class=" tab_ " style = "border-collapse:collapse" >
                <caption>Détails commande :</caption>
                <thead>

                <tr >
                    <th style=" border:1px solid #ddd;padding: 8px;text-align: center" >Billet</th>
                    <th style=" border:1px solid #ddd;padding: 8px;text-align: center" >Nom</th>
                    <th style=" border:1px solid #ddd;padding: 8px;text-align: center">Prenom</th>
                    <th style=" border:1px solid #ddd;padding: 8px;text-align: center">Date de Naissance</th>
                    <th style=" border:1px solid #ddd;padding: 8px;text-align: center">Pays</th>
                    <th style=" border:1px solid #ddd;padding: 8px;text-align: center">Tarif Réduit</th>
                    <th style=" border:1px solid #ddd;padding: 8px;text-align: center">Prix billet</th>
                </tr>
                </thead>
                <tbody>
                {% for ticketDescription in ticketsDescription %}
                        <tr>
                        <td style="border:1px solid #ddd;padding: 8px;text-align: center">Visiteur n° {{ loop.index }}</td>
                        <td style="border:1px solid #ddd;padding: 8px;text-align: center">{{  ticketDescription.visitorLastName }}</td>
                        <td style="border:1px solid #ddd;padding: 8px;text-align: center">{{  ticketDescription.visitorFirstName}}</td>
                        <td style="border:1px solid #ddd;padding: 8px;text-align: center">{{  ticketDescription.visitorBirthDate | date('d/m/Y') }}</td>
                        <td style="border:1px solid #ddd;padding: 8px;text-align: center">{{  ticketDescription.visitorCountry }}</td>

                        <td style="border:1px solid #ddd;padding: 8px;text-align: center">
                            {% if ticketDescription.reducedPrice == 1 %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td >
                        <td style="border:1px solid #ddd;padding: 8px;text-align: center">{{ ticketDescription.ticketPrice }}€</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>


        <div>
            <h4><strong>Montant total de votre commande : {{ purchaseOrder.getAmountOrder }}€</strong></h4>
        </div>
        <br>

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
