{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <h4 id="achatBillet">Achat de billet(s) pour le Musée du Louvre <span class="glyphicon glyphicon-info-sign" id="tarif"></span></h4>
    <br>
    <div class="row well">

            <section class="col-md-6">
                <h4>Votre commande <span class="glyphicon glyphicon-shopping-cart"></span></h4><br>
                     <ul>
                         <li><strong>Code de la commmande :</strong> {{ purchaseOrder.reservationCode }}</li>
                         <li><strong>Date de la commande :</strong> {{ purchaseOrder.orderDate | date('d/m/Y') }}</li>
                         <li><strong>Email Client :</strong> {{ purchaseOrder.customerEmail }}</li>

                         <li><strong>Type de billet :</strong>
                        {% if purchaseOrder.visitType == 1 %}
                            Journée
                        {% else %}
                            Demi-Journée
                        {% endif %}
                         </li>
                        <li><strong>Date de votre visite :</strong> {{ purchaseOrder.visitDate | date('d/m/Y') }}</li>
                        <li><strong>Nombre de place(s) :</strong> {{ purchaseOrder.numberTicketsDesired }}</li>
                     </ul>
            </section>

            <aside class="col-md-6">
               <table class="tab_" >
                   <caption>Notre grille tarifaire</caption>
                   <tr>
                       <th>Tarif</th>
                       <th>Enfant</th>
                       <th>Normal</th>
                       <th>Sénior</th>
                       <th>Réduit</th>
                   </tr>
                   <tr>
                       <td>Journée</td>
                       <td>8 Euros</td>
                       <td>16 Euros</td>
                       <td>12 Euros</td>
                       <td>10 Euros</td>
                   </tr>
                   <tr>
                       <td>Demi-Journée</td>
                       <td>4 Euros</td>
                       <td>8 Euros</td>
                       <td>6 Euros</td>
                       <td>5 Euros</td>
                   </tr>
               </table>
               <div>
                   <p>
                       - L'entrée est gratuite pour les enfants de moins de 4 ans<br>
                       - Tarif enfant à partir de 4 ans et jusqu'à 12 ans (exlus)<br>
                       - Tarif normal à partir de 12 ans<br>
                       - Tarif sénior à partir de 60 ans<br>
                       - Tarif réduit dans certaine condition (étudiant,employé du musée,d'un service du ministère de la culture,
                       militaire...)
                   </p>
               </div>
           </aside>

    </div><!-- end row -->
      <!-- </div>-->


    <div class="container">
        <h4>Détails billets :</h4>
        <table class="table table-bordered table-responsive tab_">
            <thead>
                <tr>
                    <th>Billet</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date de Naissance</th>
                    <th>Pays</th>
                    <th>Tarif Réduit</th>
                    <th>Prix billet</th>
                </tr>
            </thead>
            <tbody>
            {% for ticketDescription in ticketsDescription %}
                <tr>
                    <td>Visiteur n° {{ loop.index }}</td>
                    <td>{{  ticketDescription.visitorLastName }}</td>
                    <td>{{  ticketDescription.visitorFirstName}}</td>
                    <td>{{  ticketDescription.visitorBirthDate | date('d/m/Y') }}</td>
                    <td>{{  ticketDescription.visitorCountry }}</td>

                    <td>
                        {% if ticketDescription.reducedPrice == 1 %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td>{{ ticketDescription.ticketPrice }}€</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!-- end container -->
    <br>
    <div class="container">
        <div>
             <h4><strong>Montant total de votre commande : {{ purchaseOrder.getAmountOrder }}€</strong></h4>
        </div>
            <br>
        <div class="row">
            <div class="col-lg-7">
                <form action="{{ path('louvre_paymentStrype') }}" method="POST">
                    <div class="field">
                        <input type="text" name="amount" value="{{ purchaseOrder.getAmountOrder }}" style="display: none">
                        <input type="text" name="idRes" value="{{ purchaseOrder.id}}" style="display: none">
                    </div>
                    <script
                            src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="pk_test_ozP0xZ4sPghJjXA6rNwtvmFz" class="stripe-button"
                            data-amount="{{ purchaseOrder.getAmountOrder * 100 }}"
                            data-name="Module de Paiement"
                            data-description="Paiement Musée Louvre"
                            data-locale="auto"
                            data-currency="eur">
                    </script>
                </form>
            </div>
            <div class="col-lg-5">
                <button class="btn btn-lg bg-info"><a href="{{ path('louvre_home') }}">Retour accueil</a></button>
            </div>
        </div><!-- end row -->
    </div>
</div>
       <br><br>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}