{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" id="div_1">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="alert alert-info" role="alert">
                    <h4><strong>Le paiement de la commande {{ purchaseOrder.reservationCode }} d'un montant de {{ purchaseOrder.amountOrder }}€ a été refusé.</strong></h4>
                    <p class="col-lg-offset-1">Veuillez réessayer plus tard, merci de votre visite</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="alert alert-warning" role="alert">
                    <h4 class="col-lg-offset-1"><strong>Votre commande d'un montant total de {{ purchaseOrder.getAmountOrder }}€, a été refusé.</strong></h4>
                </div>
                <a class="btn btn-info" href="{{ path("louvre_home") }}">Retour accueil Billetterie</a>
            </div>
        </div>


        <h4>Détails billets :</h4>
        <table class="table-responsive table-bordered tab_">
            <thead>
            <tr>
                <th>Billet</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de Naissance</th>
                <th>Pays</th>
                <th>Tarif Réduit</th>
                <th>Prix billet</th>
            </tr>
            </thead>
            <tbody>
            {% for ticketDescription in ticketsDescription %}
                <tr>
                    <td>Visiteur n° {{ loop.index }}</td>
                    <td>{{  ticketDescription.visitorLastName }}</td>
                    <td>{{  ticketDescription.visitorFirstName}}</td>
                    <td>{{  ticketDescription.visitorBirthDate | date('d/m/Y') }}</td>
                    <td>{{  ticketDescription.visitorCountry }}</td>

                    <td>
                        {% if ticketDescription.reducedPrice == 1 %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td>{{ ticketDescription.ticketPrice }}€</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}