{% extends '::base.html.twig' %}
{% block stylesheets %}
 {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row" id="div_1">
        <div class="col-lg-5 col-lg-offset-1">
            <div class="alert alert-info" role="alert">
                <h4><strong>Le paiement de la commande {{ purchaseOrder.reservationCode }} d'un montant de {{ purchaseOrder.amountOrder }}€ a été validé.</strong></h4>
                <h5>Un email de confirmaton vous a été envoyé , merci de le présenter à l'entrée du musée.</h5>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="alert alert-warning" role="alert">
                <h4>Merci pour votre visite.</h4>
            </div>
            <a href="{{ path("louvre_home") }}">Retour accueil</a>
        </div>
    </div>


        <h4>Détails billets :</h4>
        <table class="table-responsive table-bordered">
            <thead>
            <tr>
                <th>Billet</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de Naissance</th>
                <th>Pays</th>
                <th>Tarif Réduit</th>
                <th>Prix billet</th>
            </tr>
            </thead>
            <tbody>
            {% for ticketDescription in ticketsDescription %}
                <tr>
                    <th>Visiteur n° {{ loop.index }}</th>
                    <td>{{  ticketDescription.visitorLastName }}</td>
                    <td>{{  ticketDescription.visitorFirstName}}</td>
                    <td>{{  ticketDescription.visitorBirthDate | date('d/m/Y') }}</td>
                    <td>{{  ticketDescription.visitorCountry }}</td>

                    <td>
                        {% if ticketDescription.reducedPrice == 1 %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td>{{ ticketDescription.ticketPrice }}€</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <br>

        <h4 class="col-lg-offset-1"><strong>Montant total de votre commande : {{ purchaseOrder.getAmountOrder }}€</strong></h4>

    <br>
</div>
{% endblock %}