{% extends '::base.html.twig' %}
{% block stylesheets %}
 {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row" id="div_1">
        <div class="col-lg-3 col-lg-offset-1">
            <div class="alert alert-info" role="alert">
                <h4><strong>Le paiement de la commande {{ purchaseOrder.reservationCode }} d'un montant de {{ purchaseOrder.amountOrder }}€ a été validé.</strong></h4>
                <h5>Un email de confirmaton vous a été envoyé , merci de le présenter à l'entrée du musée.</h5>
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-1">
            <div class="alert alert-warning" role="alert">
                <h4>Merci pour votre visite.</h4>
            </div>
            <a href="{{ path("louvre_home") }}">Retour accueil</a>
        </div>
    </div>


        <h4>Détails billets :</h4>
        <table style="border-collapse: collapse">
            <thead>
            <tr>
                <th style="border:2px solid black">Billet</th>
                <th style="border:2px solid black">Nom</th>
                <th style="border:2px solid black">Prenom</th>
                <th style="border:2px solid black">Date de Naissance</th>
                <th style="border:2px solid black">Pays</th>
                <th style="border:2px solid black">Tarif Réduit</th>
                <th style="border:2px solid black">Prix billet</th>
            </tr>
            </thead>
            <tbody>
            {% for ticketDescription in ticketsDescription %}
                <tr>
                    <th style="border:2px solid black">Visiteur n° {{ loop.index }}</th>
                    <td style="border:2px solid black">{{  ticketDescription.visitorLastName }}</td>
                    <td style="border:2px solid black">{{  ticketDescription.visitorFirstName}}</td>
                    <td style="border:2px solid black">{{  ticketDescription.visitorBirthDate | date('d/m/Y') }}</td>
                    <td style="border:2px solid black">{{  ticketDescription.visitorCountry }}</td>

                    <td style="border:2px solid black">
                        {% if ticketDescription.reducedPrice == 1 %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td style="border:2px solid black">{{ ticketDescription.ticketPrice }}€</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <br>

        <h4 class="col-lg-offset-1"><strong>Montant total de votre commande : {{ purchaseOrder.getAmountOrder }}€</strong></h4>

    <br>
</div>
{% endblock %}