<!DOCTYPE html>
<html lang="fr" >
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>


        {% block css %}{% endblock %}
    </head>

    <body>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img  src="{{ asset('images/logo-louvre.jpg') }}" alt="Logo Louvre" class=" hidden-xs">
                    <a  id="billetterie" href="{{ path('louvre_home') }}">Billetterie du Musée du Louvre</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('louvre_home') }}" >Billetterie</a></li>
                        <li><a href="{{ path('louvre_informations') }}">Infomations</a></li>
                        <li><a href="{{ path('louvre_legalNotice') }}">Mentions Légales</a></li>
                    </ul>
                </div>

        </nav>
    </div>

    {% block body %}{% endblock %}

    <div class="footer table-responsive" style="background-color: black">
            <table class="table">
                    <tr>
                        <th style="padding-left: 4em;">© 2018 Site créé par : <a href="mailto:christian.yvan@gmail.com">Christian Yvan</a></th>
                        <th><a href="http://www.instagram.com/museelouvre">Instagram  </a><img src="{{ asset('images/instagram.png') }}" alt="instagram"></th>
                        <th> <a href="https://www.facebook.com/museedulouvre">Facebook  </a><img src="{{ asset('images/facebook.png') }}" class="rs" alt="facebook"></th>
                        <th><a href="http://twitter.com/MuseeLouvre">Twitter  </a><img src="{{ asset('images/twitter.png') }}"  alt="twitter"></th>
                    </tr>
            </table>

    </div>

        {% block javascripts %}{% endblock %}

    </body>
</html>
