<!DOCTYPE html>
<html lang="fr" >
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>


        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img  src="{{ asset('images/logo-louvre.jpg') }}" alt="Logo Louvre" class=" hidden-xs">
                    <a  href="{{ path('louvre_home') }}">Billetterie du Musée du Louvre</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('louvre_home') }}" >Billetterie</a></li>
                        <li><a href="{{ path('louvre_informations') }}">Infomations</a></li>
                        <li><a href="{{ path('louvre_legalNotice') }}">Mentions Légales</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    {% block body %}{% endblock %}


        <footer class="navbar navbar-default navbar-fixed-bottom">
            <div class="row col-sm-12">

                    <div class="col-md-4 col-sm-0 hidden-xs">
                        <p class="">© 2018 Site créé par :<a href="mailto:christian.yvan@gmail.com">Christian Yvan</a></p>
                    </div>

                    <div class="col-md-2 col-sm-3">
                         <span class="social hidden-xs">Instagram</span>
                         <a href="http://www.instagram.com/museelouvre"><img src="{{ asset('images/instagram.png') }}" class="rs" alt="instagram"></a>
                    </div>
                    <div class="col-md-2 col-sm-3 ">
                        <span class="social hidden-xs">Facebook</span>
                        <a href="https://www.facebook.com/museedulouvre"><img src="{{ asset('images/facebook.png') }}" class="rs" alt="instagram"></a>
                    </div>
                    <div class="col-md-2 col-sm-3">
                          <span class="social hidden-xs">Twitter</span>
                           <a href="http://twitter.com/MuseeLouvre"><img src="{{ asset('images/twitter.png') }}" class="rs" alt="instagram"></a>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <span class="social hidden-xs">Youtube</span>
                         <a href="https://www.youtube.com/watch?v=7wXwwGXUMgE"><img src="{{ asset('images/youtube.png') }}" class="rs" alt="instagram"></a>
                    </div>

            </div>

        </footer>


        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}

    </body>
</html>
